body{
  background-image:url("http://cw1.tw/CC/images/article/J1452169216576.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  }
